@font-face {
  font-family: "iconfont"; /* Project id 4641905 */
  src: url('iconfont.woff2?t=1735448832416') format('woff2'),
       url('iconfont.woff?t=1735448832416') format('woff'),
       url('iconfont.ttf?t=1735448832416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e623";
}

.icon-Upload:before {
  content: "\e60e";
}

.icon-mine:before {
  content: "\e619";
}

.icon-home:before {
  content: "\e768";
}

.icon-AddFriend:before {
  content: "\e728";
}

.icon-mine1:before {
  content: "\e7bd";
}

.icon-Chat:before {
  content: "\ea94";
}

.icon-markdown:before {
  content: "\e688";
}

.icon-file:before {
  content: "\e671";
}

.icon-bofang:before {
  content: "\e635";
}

.icon-down:before {
  content: "\e664";
}

.icon-taiyang:before {
  content: "\e62e";
}

.icon-right:before {
  content: "\e665";
}

.icon-left:before {
  content: "\e666";
}

